<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<title>Sarah Rosenshine</title>
		<link rel="stylesheet" type="text/css" href='/stylesheet.css'>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21045760-5', 'auto');
  ga('send', 'pageview');

</script>
</head>
	<body>
<div id="robot_holder"><center><img id="robot" src="/sarah_rosenshine_robo.png" ALT="a robot with glasses"></center></div>
		<div><center><div id="ad_holder"><img id="ad" src='/att1_sarah_rosenshine.png' ALT="AT&T social ad"></center></div>
		<div><center><div id="ad_holder"><img id="ad" src="/att2_sarah_rosenshine.jpg" ALT="AT&T social ad"></center></div>
		<div><center><div id="ad_holder"><img id="ad" src="/att3_sarah_rosenshine.png" ALT="AT&T social ad"></center></div>
		<div><center><div id="ad_holder"><img id="ad" src="/att4_sarah_rosenshine.png" ALT="AT&T social ad"></center></div>
		<div><center><div id="ad_holder"><img id="ad" src="/att5_sarah_rosenshine.png" ALT="AT&T social ad"></center></div>
		<div><center><div id="ad_holder"><img id="ad" src="/fedex1_sarah_rosenshine.png" ALT="FedEx social ad"></div>
<div id=home> <br><h2><a href=/>Home</a></h2>
<br>
<br>
<footer><div id="footer"><p>SR '17</p>
</footer>
	</body>
</html>
